.who-to-follow-container {
    background-color: #393943;
    border-radius: 10px;
    /* width: 20vw; */
    /* min-height: 60vh; */
    /* min-height: 400px; */
    min-width: 240px;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 0 0 10px 0;
    width: 80%;

}

.who-to-follow-title {
    margin: 30px 0 0 0;
    width: 100%;
    /* background-color: crimson; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.who-to-follow-title>h1 {
    margin-left: 40px;
    font-size: 1.0em;
    color: white;
}

.wf-refresh-icon {
    margin-right: 35px;
    background-color: #494955;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
}

.wf-refresh-icon>svg {
    fill: #a3a3b2;
    width: 70%;
    height: 100%;
    stroke-width: 50;
}

.wf-break-line {
    min-height: 5px;
    border-radius: 8px;
    width: 80%;
    background-color: #494955;
    margin: 5px 0 30px 0;
}


.suggest-user-container {
    /* background-color: blueviolet; */
    width: 100%;
    margin-bottom: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.suggest-user-container>.profilePic-container {
    width: 50px;
    height: 50px;
    margin-left: 25px;
    /* background-color: #116DFE; */
}

.suggest-user-container>.profilePic-container>.profilePic {
    width: 40px;
    height: 40px;
}

.suggest-user-container>.profilePic-container>.profilePic>.profile-img-background {
    background-color: #393943;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.suggest-user-container>.profilePic-container>.profilePic>.profile-img-background>.profile-img-holder {
    background-color: #474753;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin: 5px auto;

}

.suggest-user-container>.profilePic-container>.profilePic>.profile-img-background>.profile-img-holder>.who-to-follow-link>img {
    width: 100%;
    height: 100%;
}

.who-to-follow-link {
    text-decoration: none;
}

.suggest-user-container>.suggest-user-detailes {
    /* background-color: chartreuse; */
    min-height: 5px;
    min-width: 20px;
    width: 55%;
    margin-right: 10px;
}

.suggest-user-container>.suggest-user-detailes>.who-to-follow-link>h2 {
    font-size: 0.95em;
    color: white;
    margin-left: 5px;
}

.suggest-user-container>.suggest-user-detailes>.who-to-follow-link>h3 {
    font-size: 0.9em;
    color: #6D6D6D;
    margin-left: 5px;
}

.wf-add-btn-container {
    /* background-color: chocolate; */
    min-width: 20px;
    height: fit-content;
}

.wf-add-btn-container>.wf-add-btn,
.wf-add-btn-container>a>.wf-add-btn {
    background-color: #474753;
    /* width: 30px; */
    border-radius: 4px;
    cursor: pointer;
}

.wf-add-btn-container>.wf-add-btn>svg,
.wf-add-btn-container>a>.wf-add-btn>svg {
    padding: 8px;
    width: 20px;
    fill: #a3a3b2;
}

.wf-show-more-btn-container {
    /* background-color: antiquewhite; */
    width: 100%;
    min-height: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wf-show-more-btn-container>button {
    margin: 0;
    width: 83%;
    height: 70px;
    background-color: #116DFE;
    transition-duration: 0.4s;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 8px;
}

.wf-show-more-btn-container>button:hover {
    background-color: #116cfe5a;
    cursor: pointer;
}